{# Copyright 2020 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

<div class="d-flex justify-content-center">
  <div class="btn-group btn-group-sm">
    <a class="btn btn-light {% if not pagination.has_prev %}disabled{% endif %}"
       href="{{ url_for(endpoint, **modify_query_params(query_params, replace={'page': query_params.page - 1})) }}">
      <i class="fas fa-angle-left"></i>
    </a>

    {% for page in pagination.pages %}
      <a class="btn btn-light {% if page == query_params.page %}active{% endif %}"
         href="{{ url_for(endpoint, **modify_query_params(query_params, replace={'page': page})) }}">
        {{ page }}
      </a>
    {% endfor %}

    <a class="btn btn-light {% if not pagination.has_next %}disabled{% endif %}"
       href="{{ url_for(endpoint, **modify_query_params(query_params, replace={'page': query_params.page + 1})) }}">
      <i class="fas fa-angle-right"></i>
    </a>
  </div>
</div>
