{# Copyright 2020 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

<h4 id="collections">Collections</h4>
<p>
  Collections represent simple, logical groupings of multiple records.
</p>
<h5 id="new-collection">Creating a new collection</h5>
<p>
  Creating a new collection is very similar to <a href="#new-record"><strong>creating a new record</strong></a>, except
  that only some basic metadata is necessary. Similarly, no files can be uploaded. Instead, the application will
  redirect to the overview of the collection right away.
</p>
<h5 id="manage-collection">Managing existing collections</h5>
<p>
  Similar to records, collections have their own navigation menu, offering different views for linking resources,
  managing access permissions, editing metadata and viewing revisions. As the menu items are very similar to those of
  records, please refer to <a href="#manage-record"><strong>managing existing records</strong></a> for more information.
</p>
