{# Copyright 2020 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

<div class="card-header">
  <ul class="nav nav-pills card-header-pills">
    {% snippet "nav_item",
               url=url_for("settings.edit_profile"),
               body='<i class="fas fa-user-cog"></i> {}'.format(_("Profile")) %}

    {% if config["AUTH_PROVIDERS"][current_user.identity.type]["provider_class"].allow_password_change() %}
      {% snippet "nav_item",
                 url=url_for("settings.change_password"),
                 body='<i class="fas fa-lock"></i> {}'.format(_("Password")) %}
    {% endif %}

    {% snippet "nav_item",
               url=url_for("settings.manage_tokens"),
               body='<i class="fas fa-key"></i> {}'.format(_("Access tokens")) %}

    {% snippet "nav_item",
               url=url_for("settings.manage_trash"),
               body='<i class="fas fa-trash"></i> {}'.format(_("Trash")) %}
  </ul>
</div>
