{# Copyright 2020 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

{% extends "records/manage_record_base.html" %}

{% block breadcrumbs %}
  {{ super() }}
  {% snippet "breadcrumb", url=url_for("records.add_files", id=record.id), title=title %}
{% endblock %}

{% block content %}
  <div class="card">
    {% include "records/snippets/manage_record_menu.html" %}

    <div class="card-body">
      <div class="mb-2">
        <small class="text-muted">
          <i class="fas fa-exclamation-circle"></i>
          {% trans duration=config["UPLOADS_MAX_AGE"] | durationformat, trimmed %}
            Inactive uploads will be deleted automatically after {{ duration }}.
          {% endtrans %}
        </small>
      </div>
      <upload-manager new-upload-endpoint="{{ url_for('api.new_upload', id=record.id, _internal=True) }}"
                      get-uploads-endpoint="{{ url_for('api.get_uploads', id=record.id, _internal=True) }}">
      </upload-manager>
    </div>
  </div>
{% endblock %}
