{# Copyright 2020 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

{% if resource.type %}
  {% if clickable %}
    <a href="{{ url_for('records.records', type=resource.type) }}"
       class="badge badge-primary font-weight-normal ml-2"
       style="vertical-align: middle; margin-top: -0.4em;">
      {{ resource.type }}
    </a>
  {% else %}
    <span class="badge badge-primary font-weight-normal ml-2" style="vertical-align: middle; margin-top: -0.4em;">
      {{ resource.type }}
    </span>
  {% endif %}
{% endif %}
